.css-input {
  padding: 5px;
  font-size: 25px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.css-input:focus {
  outline: none;
  border: 1px solid greenyellow;
}

.sort {
  text-align: center;
}
